<launch>
    <param name="x_offset" value="0.0" />
    <param name="y_offset" value="0.0" />
    <param name="z_offset" value="0.0" />

    <node pkg="zmq_comms" type="zmq_pub.py" name="comms_zmq_pub" output="screen">
    <env name="PYTHONUNBUFFERED" value="1"/>
    </node>

    <param name="goal_publisher_address" value="tcp://192.168.65.150:5555" />

    <node pkg="zmq_comms" type="dynamic_zmq_sub.py" name="comms_zmq_sub" output="screen">
    <env name="PYTHONUNBUFFERED" value="1"/>
    </node>

</launch>
